<article class="card">
  <img
    class="card__img"
    src="./images/image-equilibrium.jpg"
    alt="nft main image"
  />
  <h2 class="card__title">
    <a class="card__link" href="#">Equilibrium #3429</a>
  </h2>
  <p class="card__description">
    Our Equilibrium collection promotes balance and calm.
  </p>
  <div class="l-container">
    <div class="l-flex">
      <img
        class="card__icon"
        src="./images/icon-ethereum.svg"
        alt="ethereum icon"
      />
      <span class="card__price">0.041 ETH</span>
    </div>
    <div class="l-flex">
      <img class="card__icon" src="./images/icon-clock.svg" alt="clock icon" />
      <span class="card__description--nowrap">3 days left</span>
    </div>
  </div>
  <hr />
  <div class="l-flex--big">
    <img
      class="card__icon--big"
      src="./images/image-avatar.png"
      alt="avatar image"
    />
    <span class="card__description--nowrap">
      Creation of <a class="card__link" href="#">Jules Wyvern</a>
    </span>
  </div>
</article>
