@use "../styles.scss" as s;

.card {
  display: flex;
  flex-direction: column;
  max-width: 18rem;
  padding: 1.3rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: s.$VeryDarkBlueCardBG;
  &__img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    &--hover-container {
      position: absolute;
      padding: 0;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.2s;
      background-color: rgba($color: s.$Cyan, $alpha: 0.5);
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
      &:focus {
        opacity: 1;
      }
    }
  }
  &__title {
    font-size: 1.45rem;
    margin: 1rem 0;
  }
  &__link {
    color: s.$White;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      color: s.$Cyan;
    }
    &:focus {
      color: s.$Cyan;
      outline: none;
    }
  }
  &__description {
    margin: 0;
    margin-bottom: 1.5rem;
    line-height: 1.7rem;
    &--nowrap {
      text-wrap: nowrap;
    }
  }
  &__icon {
    width: 18px;
    &--big {
      height: 30px;
      border: 1px solid s.$White;
      border-radius: 50%;
    }
  }
  &__price {
    color: s.$Cyan;
    text-wrap: nowrap;
  }
}

.l__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.l__flex {
  display: flex;
  gap: 0.5rem;
  aspect-ratio: 1/1;
  height: 18px;
  align-items: center;
  &--big {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 30px;
  }
}

hr {
  width: 100%;
  border-color: s.$VeryDarkBlueLine;
  margin: 1.5rem 0;
}
